1. import
2. client connection
3. creating Db
4. collection groups in Db
5. inserting records

In [1]:
import pymongo

In [2]:
client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [3]:
MyDb=client['pradeep']

In [4]:
info=MyDb.workinformations

In [5]:
# Single entry
record={'firstname':'pradeep',
       'lastname':'meti',
       'department':'ece',
        'qualification':'BE',
        'age':27
       }

In [6]:
# insert 
info.insert_one(record)

In [7]:
#Multiple entry
records=[{
  'firstname':'akshay',
       'lastname':'meti',
       'department':'mech',
        'qualification':'Mtech',
        'age':31  
    },
{    'firstname':'chaitra',
       'lastname':'meti',
       'department':'civil',
        'qualification':'MS',
        'age':35
},
    {    'firstname':'shwetha',
       'lastname':'meti',
       'department':'ece',
        'qualification':'PHD',
        'age':33
}
]

In [8]:
#multiple insertion
info.insert_many(records)

# Fetching

In [9]:
#it will always takes first entry
info.find_one()

{'_id': ObjectId('5f0b27488b81520990b159f5'),
 'firstname': 'pradeep',
 'lastname': 'meti',
 'department': 'ece',
 'qualification': 'BE',
 'age': 27}

FETCHING MULTIPLE DATA

IT PRINTS ALL DATA

In [11]:
for pp in info.find():
    print(pp)

{'_id': ObjectId('5f0b27488b81520990b159f5'), 'firstname': 'pradeep', 'lastname': 'meti', 'department': 'ece', 'qualification': 'BE', 'age': 27}
{'_id': ObjectId('5f0b27978b81520990b159f6'), 'firstname': 'akshay', 'lastname': 'meti', 'department': 'mech', 'qualification': 'Mtech', 'age': 31}
{'_id': ObjectId('5f0b27978b81520990b159f7'), 'firstname': 'chaitra', 'lastname': 'meti', 'department': 'civil', 'qualification': 'MS', 'age': 35}
{'_id': ObjectId('5f0b27978b81520990b159f8'), 'firstname': 'shwetha', 'lastname': 'meti', 'department': 'ece', 'qualification': 'PHD', 'age': 33}

FETCHING SPECIFIC DATA

In [12]:
for pp in info.find({'firstname':'pradeep'}):
    print(pp)

{'_id': ObjectId('5f0b27488b81520990b159f5'), 'firstname': 'pradeep', 'lastname': 'meti', 'department': 'ece', 'qualification': 'BE', 'age': 27}

QUERY 
(in, lt, or)

$in

In [14]:
for pp in info.find({'firstname':{'$in':['pradeep','shwetha']}}):
                     print(pp)

{'_id': ObjectId('5f0b27488b81520990b159f5'), 'firstname': 'pradeep', 'lastname': 'meti', 'department': 'ece', 'qualification': 'BE', 'age': 27}
{'_id': ObjectId('5f0b27978b81520990b159f8'), 'firstname': 'shwetha', 'lastname': 'meti', 'department': 'ece', 'qualification': 'PHD', 'age': 33}

$lt LESS THAN

In [15]:
for pp in info.find({'qualification':'PHD','age':{'$lt':38}}):
    print(pp)

{'_id': ObjectId('5f0b27978b81520990b159f8'), 'firstname': 'shwetha', 'lastname': 'meti', 'department': 'ece', 'qualification': 'PHD', 'age': 33}

$or

In [16]:
for pp in info.find({'$or':[{'firstname':'pradeep'},{'qualification':'PHD'}]}):
    print(pp)

{'_id': ObjectId('5f0b27488b81520990b159f5'), 'firstname': 'pradeep', 'lastname': 'meti', 'department': 'ece', 'qualification': 'BE', 'age': 27}
{'_id': ObjectId('5f0b27978b81520990b159f8'), 'firstname': 'shwetha', 'lastname': 'meti', 'department': 'ece', 'qualification': 'PHD', 'age': 33}

$and

In [17]:
for pp in info.find({'$and':[{'firstname':'pradeep'},{'age':27}]}):
    print(pp)

{'_id': ObjectId('5f0b27488b81520990b159f5'), 'firstname': 'pradeep', 'lastname': 'meti', 'department': 'ece', 'qualification': 'BE', 'age': 27}

Combining "$and" and  "$lt"

In [19]:
for pp in info.find({'$and':[{'firstname':'pradeep'},{'age':{'$lt':28}}]}):
    print(pp)

{'_id': ObjectId('5f0b27488b81520990b159f5'), 'firstname': 'pradeep', 'lastname': 'meti', 'department': 'ece', 'qualification': 'BE', 'age': 27}